<template>
  <div>
    <v-row>
      <v-btn
        :disabled="tool === 'use-case'"
        @click="tool = 'use-case'"
      >
        use case
      </v-btn>
      <v-btn
        :disabled="tool === 'user'"
        @click="tool = 'user'"
      >
        user
      </v-btn>
      <v-btn
        :disabled="tool === 'line'"
        @click="tool = 'line'"
      >
        line
      </v-btn>
      <v-btn
        :disabled="tool === 'module'"
        @click="tool = 'module'"
      >
        module
      </v-btn>
      <v-btn
        :disabled="tool === 'move'"
        @click="tool = 'move'"
      >
        move
      </v-btn>
      <v-btn
        :disabled="tool === 'delete'"
        @click="tool = 'delete'"
      >
        delete
      </v-btn>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-treeview
          :items="objects"
          open-all
        >
          <template #label="{ item }">
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div v-html="item.data ? item.data.text : ''" />
          </template>
        </v-treeview>
      </v-col>
      <v-col>
        <div
          id="use-case-canvas"
          ref="my-canvas"
          :style="`width:${width}px;height:${height}px;background-color:${background};`"
          @click="handleClick"
        >
          <svg :width="width" :height="height">
            <line
              v-for="line in lines"
              :key="line.id"
              :x1="getCenter(line.data.id1).x"
              :y1="getCenter(line.data.id1).y"
              :x2="getCenter(line.data.id2).x"
              :y2="getCenter(line.data.id2).y"
              stroke="black"
            />
          </svg>
          <div
            v-for="item in useCases"
            :id="item.id"
            :key="item.id"
            class="object use-case"
            :class="{ focus: focus === item.id }"
            :style="`left:${item.data ? item.data.position.x : 0}px;top:${item.data ? item.data.position.y : 0}px;`"
            @click="(e) => onFocus(e, item.id)"
          >
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div contenteditable="true" @blur="(e) => onInput(e, item)" v-html="item.data ? item.data.text : ''"></div>
          </div>
          <div
            v-for="item in users"
            :id="item.id"
            :key="item.id"
            class="object user"
            :class="{ focus: focus === item.id }"
            :style="`left:${item.data ? item.data.position.x : 0}px;top:${item.data ? item.data.position.y : 0}px;background-color:${background};`"
            @click="(e) => onFocus(e, item.id)"
          >
            <v-icon color="black">mdi-human-handsdown</v-icon>
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div contenteditable="true" @blur="(e) => onInput(e, item)" v-html="item.data ? item.data.text : ''"></div>
          </div>
          <div
            v-for="item in modules"
            :id="item.id"
            :key="item.id"
            class="object module"
            :class="{ focus: focus === item.id }"
            :style="`left:${item.data ? item.data.position.x : 0}px;top:${item.data ? item.data.position.y : 0}px;`"
            @click="(e) => onFocus(e, item.id)"
          >
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div contenteditable="true" @blur="(e) => onInput(e, item)" v-html="item.data ? item.data.text : ''"></div>
            <div
              v-for="uc in item.data.children"
              :id="uc.id"
              :key="uc.id"
              class="object use-case"
              :class="{ focus: focus === uc.id }"
              :style="`left:${uc.data ? uc.data.position.x : 0}px;top:${uc.data ? uc.data.position.y : 0}px;`"
              @click="(e) => onFocus(e, uc.id)"
            >
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div contenteditable="true" @blur="(e) => onInput(e, uc)" v-html="uc.data ? uc.data.text : ''"></div>
          </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'UseCaseEditor',
  props: {
    width: {
      type: Number,
      default: 700,
    },
    height: {
      type: Number,
      default: 500,
    },
  },
  data() {
    return {
      background: '#FFFFFF',
      myCanvas: null,
      tool: 'use-case',
      draw: [],
      focus: null,
      connect: {
        id1: null,
        id2: null,
      }
    }
  },
  computed: {
    useCases() {
      return this.draw.filter(i => i.type === 'use-case' && !i.deleted)
    },
    lines() {
      return this.draw.filter(i => i.type === 'line' && !i.deleted)
    },
    users() {
      return this.draw.filter(i => i.type === 'user' && !i.deleted)
    },
    modules() {
      return this.draw.filter(i => i.type === 'module' && !i.deleted)
    },
    objects() {
      return this.draw.filter(i => i.type !== 'line' && !i.deleted).map(e => ({
        ...e,
        children: e.type === 'module' ? e.data.children : []
      }))
    },
  },
  mounted() {
    this.myCanvas = this.$refs['my-canvas']
  },
  methods: {
    onInput(e, item) {
      // console.log('on input e: ', e.target.innerHTML)
      // console.log('on input item: ', item)
      item.data.text = e.target.innerHTML
    },
    getCenter(id) {
      let x = 0
      let y = 0

      const selected = this.draw.find((i) => i.id === id)
      const e = document.getElementById(id)

      x = selected.data.position.x + (e.offsetWidth / 2)
      y = selected.data.position.y + (e.offsetHeight / 2)

      return { x, y }
    },
    onFocus(e, id) {
      e.stopPropagation()
      this.focus = id
      let selected
      const  { x, y } = this.getPosition(e)
      switch (this.tool) {
        case 'use-case':
            selected = this.draw.find((i) => i.id === id)
            if (selected.type === 'module') {
              selected.data.children = [
                ...selected.data.children,
                {
                  id,
                  type: 'use-case',
                  data: {
                    text: 'Example Case',
                    position: { x: x - selected.data.position.x, y: y - selected.data.position.y },
                  },
                },
              ]
            }
          break
        case 'line':
          if(this.connect.id1) {
            this.draw = [
              ...this.draw,
              {
                id: `${(new Date()).getTime()}${Math.round(Math.random() * 1000000)}`,
                type: 'line',
                data: {
                  id1: this.connect.id1,
                  id2: id,
                },
              },
            ]
            this.connect.id1 = null
          } else {
            this.connect.id1 = id
          }
          break;
        case 'delete':
          // eslint-disable-next-line no-case-declarations
          const del = []
          this.draw.forEach((item, index) => {
            if (item.id === id || (item.type === 'line' && (item.data.id1 === id || item.data.id2 === id))) {
              del.push(index)
            }
          })
          del.forEach(e => {
            // console.log('this.draw[e]: ', this.draw[e])
            this.draw[e] = {
              ...this.draw[e],
              deleted: true,
            }
          })
          this.draw = [
            ...this.draw,
          ]
          // console.log('delete: ', del)
          break
        default:
          break;
      }
    },
    getPosition(e) {
      let x
      let y
      if (e.pageX || e.pageY) {
        x = e.pageX
        y = e.pageY
      }
      else {
        x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
        y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
      }

      // console.log('position pre: (', x, ',', y, ')')

      // console.log('offset pre  : (', this.myCanvas.offsetLeft, ',', this.myCanvas.offsetTop, ')')

      x -= this.myCanvas.offsetLeft
      y -= (this.myCanvas.offsetTop + 64)
      // console.log('event', e)
      // console.log('position: (', x, ',', y, ')')
      return  { x, y }
    },
    handleClick(e) {
      const  { x, y } = this.getPosition(e)
      let id = null
      switch (this.tool) {
        case 'use-case':
          id = `${(new Date()).getTime()}${Math.round(Math.random() * 1000000)}`
          this.focus = null
          this.draw = [
            ...this.draw,
            {
              id,
              type: 'use-case',
              data: {
                text: 'Example Case',
                position: { x, y },
              },
            },
          ]
          break
        case 'user':
          this.focus = null
          id = `${(new Date()).getTime()}${Math.round(Math.random() * 1000000)}`
          this.draw = [
            ...this.draw,
            {
              id,
              type: 'user',
              data: {
                text: 'Example User',
                position: { x, y },
              },
            },
          ]
          break
        case 'module':
          this.focus = null
          id = `${(new Date()).getTime()}${Math.round(Math.random() * 1000000)}`
          this.draw = [
            ...this.draw,
            {
              id,
              type: 'module',
              data: {
                text: 'Example Module',
                position: { x, y },
                children: [],
              },
            },
          ]
          break
        case 'move':
          if (this.focus) {
            const selected = this.draw.find((i) => i.id === this.focus)
            selected.data.position = { x, y }
          }
          break
        case 'line':
          this.focus = null
          break
        case 'delete':
          this.focus = null
          break
        default:
          break
      }

      return id
    }
  },
}
</script>

<style>
#use-case-canvas {
  background-color: white;
  overflow: hidden;
  position: absolute;
}

.object {
  position: absolute;
  z-index: 9;
  text-align: center;
}

.user {
  color: black;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid transparent;
}

.use-case {
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  color: black;
  border-radius: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.module {
  background-color: #f7ffd5;
  border: 1px solid #3c4116;
  color: black;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-content: start;
  min-height: 100px;
  z-index: 8;
}

.module div {
  max-height: 25px;
}

.use-case.focus,
.user.focus,
.module.focus {
  background-color: #6fd1ff;
  border: 1px solid #029ffa;
}
</style>
