<template>
  <v-container>
    <v-row>
      <v-col>
        <use-case-editor />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UseCaseEditor from '~/components/UseCaseEditor.vue'
export default {
  name: 'EditorPage',
  components: { UseCaseEditor },
}
</script>
